/*
 * Optional local Basel Grotesk — drop licensed .woff2 files into public/fonts/
 * and adjust filenames/weights to match your bundle. If files are missing,
 * the stack still falls back to Inter (see index.css).
 */
@font-face {
  font-family: "Basel Grotesk";
  src: url("/fonts/BaselGrotesk-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basel Grotesk";
  src: url("/fonts/BaselGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basel Grotesk";
  src: url("/fonts/BaselGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
